<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/devhead/" target="_blank">
      <img src="/images/social-icons/facebook.svg" class="social-icon" alt="Facebook">
    </a>
    <a href="https://twitter.com/guytepper" target="_blank">
      <img src="/images/social-icons/twitter.svg" class="social-icon" alt="Twitter">
    </a>
    <a href="http://github.com/guytepper/" target="_blank">
      <img src="/images/social-icons/github.svg" class="social-icon" alt="Github">
    </a>
    <a href="http://instagram.com/guytepper/" target="_blank">
      <img src="/images/social-icons/instagram.svg" class="social-icon" alt="Instagram">
    </a>
    <a href="http://www.last.fm/user/Dobida" target="_blank">
      <img src="/images/social-icons/lastfm.svg" class="social-icon" alt="Last.fm">
    </a>
    <a href="https://www.goodreads.com/guytepper" target="_blank">
      <img src="/images/social-icons/goodreads.svg" class="social-icon" alt="Goodreads">
    </a>
    <a href="http://codepen.io/guytepper/" target="_blank">
      <img src="/images/social-icons/codepen.svg" class="social-icon" alt="Codepen">
    </a>
    <a href="http://www.linkedin.com/in/guytepper/" target="_blank">
      <img src="/images/social-icons/linkedin.svg" class="social-icon" alt="Linkedin">
    </a>
  </div>
</footer>
