<footer class="footer">
  <div class="social-icons">
    <a href="https://github.com/guytepper/devhead.co.il">
      <img src="/images/social-icons/github.svg" class="social-icon" alt="Github">
    </a>
    <a href="https://www.linkedin.com/in/guytepper/">
      <img src="/images/social-icons/linkedin.svg" class="social-icon" alt="Linkedin">
    </a>
    <a href="https://www.last.fm/user/Dobida">
      <img src="/images/social-icons/lastfm.svg" class="social-icon" alt="Last.FM">
    </a>
  </div>
</footer>
