<!DOCTYPE html>
<html dir="rtl">

  {% include head.html %}

  <body>
    <div class="site-container">

    {% include header.html %}

    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="social-icons">
        <img src="/images/social-icons/Instagram.svg" class="social-icon" alt="Instagram">
        <img src="/images/social-icons/Goodreads.svg" class="social-icon" alt="Goodreads">
        <img src="/images/social-icons/Lastfm.svg" class="social-icon" alt="Last.fm">
        <img src="/images/social-icons/Linkedin.svg" class="social-icon" alt="Linkedin">
        <img src="/images/social-icons/Twitter.svg" class="social-icon" alt="Twitter">
        <img src="/images/social-icons/Facebook.svg" class="social-icon" alt="Facebook">
        <img src="/images/social-icons/Codepen.svg" class="social-icon" alt="Codepen">
      </div>
    </footer>

    </div>

  </body>

</html>
