<!DOCTYPE html>
<html dir="rtl">

  {% include head.html %}

  <body>
    <div class="site-container">

    {% include header.html %}

    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="social-icons">
        <img src="/images/social-icons/instagram.svg" width="25px" alt="Instagram">
        <img src="/images/social-icons/goodreads.svg" width="25px" alt="Goodreads">
        <img src="/images/social-icons/lastfm.svg" width="25px" alt="Last.fm">
        <img src="/images/social-icons/linkedin.svg" width="25px" alt="Linkedin">
        <img src="/images/social-icons/twitter.svg" width="25px" alt="Twitter">
        <img src="/images/social-icons/facebook.svg" width="25px" alt="Facebook">
      </div>
    </footer>

    </div>

  </body>

</html>
