<!DOCTYPE html>
<html dir="rtl">

  {% include head.html %}

  <body>
    <div class="site-container">

    {% include header.html %}

    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100010847680726">
          <img src="{{ site.baseurl }}/images/social-icons/Facebook.svg" class="social-icon" alt="Facebook">
        </a>
        <a href="https://twitter.com/guytepper">
          <img src="/images/social-icons/Twitter.svg" class="social-icon" alt="Twitter">
        </a>
        <a href="http://github.com/guytepper/">
          <img src="/images/social-icons/Github.svg" class="social-icon" alt="Github">
        </a>
        <a href="http://instagram.com/guytepper/">
          <img src="/images/social-icons/Instagram.svg" class="social-icon" alt="Instagram">
        </a>
        <a href="http://www.last.fm/user/Dobida">
          <img src="/images/social-icons/Lastfm.svg" class="social-icon" alt="Last.fm">
        </a>
        <a href="https://www.goodreads.com/guytepper">
          <img src="/images/social-icons/Goodreads.svg" class="social-icon" alt="Goodreads">
        </a>
        <a href="http://codepen.io/guytepper/">
          <img src="/images/social-icons/Codepen.svg" class="social-icon" alt="Codepen">
        </a>
        <a href="https://www.linkedin.com/in/guytepper">
          <img src="/images/social-icons/Linkedin.svg" class="social-icon" alt="Linkedin">
        </a>
      </div>
    </footer>

    </div>

  </body>

</html>
